{{ attach_library('templ/template') }}



<p>TEST TWIG TEMPLATES!</p>
<h1>THIS IS A NEW TWIG TEMPLATES</h1>
 <p>events: {{ events }}</p>

 <marquee><b> This is Our Modules</b></marquee>
 <p>This is new modules</p>
 <h6> balu kumar</h6>
 A paragraph is a group of words put together to form a group that is usually longer than a sentence. Paragraphs are often made up of several sentences. ... Each paragraph may have a number of sentences, depending on the topic. A pilcrow mark (¶) is sometimes used to show where a paragraph begins.
